<!DOCTYPE html>
<html>
  <head>
    <title>naslov multer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Multer-proba</h1>
    <img src="images/webshop.jpg">
  </body>
</html>
