<!DOCTYPE html>
<html>
  <head>
    <title>naslov multer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Multer-proba</h1>
    <form method="post" action="/slike" enctype="multipart/form-data">
      <input type="file" name="avatar" class="form-control" id="customFile" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
