<!DOCTYPE html>
<html>
  <head>
    <title>Narudzbe</title>
    <link rel='stylesheet' href='/stylesheets/artikal.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  --><script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=IBM+Plex+Sans+Thai+Looped&family=Outfit:wght@300&family=Roboto:ital,wght@1,100;1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      function prihvati_narudzbu(nar_id) {
        $.ajax({
          url: "/trgovac/prihvatinarudzbu/" + nar_id,
          method: "POST",
          success: function (result) {
            alert("Prihvatili ste narudzbu");
          }
        })
      }
      function hideTable(){
        alert("Narudzba uspjesno poslana trgovcu!");
        $('#table').hide();
        $("button").hide();
      }

    </script>

  </head>
  <body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" id="nazivtrgovine"><strong><%=usernamekorisnika%></strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/pocetna">Početna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trgovine">Trgovine</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/korpa">Korpa</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Registracija/Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="#" onclick="location.href='/registracijaTrgovca'">Registruj trgovinu</a></li>
                <li><a class="dropdown-item" href="#" onclick="location.href='/registracijaKupca'">Registruj kupca</a></li>
              </ul>
            </li>


          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <!--<div class="row justify-content-center">
          <div class="col-6">
          </div>
        </div>-->
      <!-- Search ---------------------------------->
      <div class="row" id="prvi_red">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-6 col-md-6">
            <div class="input-group rounded">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                     aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
                  Search
                </button>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="drugi_red">
      <div class="col-12 col-lg-12 col-md-12" id="info">
          <table class="table table-success table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naziv</th>
              <th scope="col">Cijena</th>
            </tr>
            </thead>
            <tbody id="table">
            <%for(let i=0; i<obj.length; i++) {%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=obj[i].naziv%></td>
                <td><%=obj[i].cijena%></td>
              </tr>
            <%}%>
            </tbody>
          </table>
      </div>
    </div>
  </body>
</html>
